
<agm-map 
[latitude]="lat"
[longitude]="lng"
[zoom]="zoom"
[disableDefaultUI]="true"
[zoomControl]="true"
>
<agm-marker-cluster imagePath="https://raw.githubusercontent.com/googlemaps/v3-utility-library/master/markerclustererplus/images/m">


<agm-marker 
    *ngFor="let m of placeMarks; let i = index"
    [longitude]="m.coordinates[0]"
    [latitude]="m.coordinates[1]"
    [animation]="'DROP'"
>
    
  <agm-info-window>
    <strong>Address: </strong>{{m.address}}
    <br/>
    <strong>Engine type: </strong>{{m.engineType}}
    <br/>
    <strong>Exterior: </strong>{{m.exterior || titlecase }}
    <br/>
    <strong>Interior:</strong>{{m.interior || titlecase }}
    <br/>
    <strong>Fuel: </strong>{{m.fuel}}
    <br/>
    <strong>Name: </strong>{{m.name}}
    <br/>
    <strong>Vin: </strong>{{m.vin}}

  </agm-info-window>
  
</agm-marker>
</agm-marker-cluster>
